<div class="container">
  <div class="row block-inline">
    <h1> <%= @task.title %> <%= link_to 'EDIT', edit_task_path, {:class=>"btn btn-warning"}  %> </h1>
  </div>
  <p><%= @task.details %></p>
  <% if @task.completed %>
    <p><i class="far fa-check-square"></i> This task is completed</p>
  <% else %>
    <p><i class="far fa-square"></i> This task is not completed yet</p>
  <% end %>
  <%= link_to tasks_path do %>
    <i class="fas fa-reply"></i> Back to list
  <% end %>
</div>
